
html, body, .container-table {
    height: calc(100% - 50px);
}

/*Making a div in center*/

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}